.container{
    max-width: 1596px;
    margin: auto;
}
.benefit{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px auto 0 auto;

}
.benefit__item{
    flex-shrink: 1;
    padding: 50px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #F1F1F3;
    max-width: 519px;
}
.benefit__description{
    font-size: 18px;
    color: #4C4C4D;
    line-height: 150%;
    font-weight: 400;
}
.benefit__number{
    font-size: 80px;
    font-weight: 700;
    display: flex;
    justify-content: end;
}
.benefit__title{
    font-weight: 600;
    font-size: 24px;
    margin: 50px 0 14px 0;
    color: #333333;
    line-height: 150%;
}
.benefit__icon{
    display: flex;
    justify-content: end;
    gap: 8px;
    margin-top: 50px;
}
.benefit__icon a{
    width: 74px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #F1F1F3;
    background-color: #FCFCFD;
    padding: 20px;
    cursor: pointer;
    /*background-image: url("icons/arrow-up-right.svg");*/
    background-repeat: no-repeat;
    background-position: center center;
}
.benefit__icon img{
    width: 17px;
    height: 17px;
}