
.courses{
    /*width: 1596px;*/
    display: flex;
    gap: 30px;
    /*align-items: center;*/
    justify-content: center;
    /*margin: auto;*/
    margin: 30px auto 0 auto;
    /*flex: 1;*/
}
.courses__item{
    flex: 1;
    /*flex-shrink: 1;*/
    /*display: flex;*/
    padding: 50px;

    background-color: white;
    border-radius: 12px;
    border: 1px solid #F1F1F3;
}
.courses__item img{
    border-radius: 8px;
    height: 380px;
    object-fit: cover;
    width: 683px;
}
.image__description{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.image__description div:first-child{
    display: flex;
    justify-content: space-between;
    gap: 10px
}
.image__description > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #4C4C4D;
    font-weight: 400;
    font-size: 18px;
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid #F1F1F3;
}
.image__description div:last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 500;

}
.courses__description{
    margin: 30px 0;
}
.courses__description h3{
    color: #262626;
    font-weight: 600;
    font-size: 24px;
}
.courses__description p{
    color: #4C4C4D;
    font-weight: 400;
    line-height: 150%;
    margin-top: 14px;
}

.courses__item button{
    flex-shrink: 1;
    display: block;
    width: 100%;
    height: 63px;
    border-radius: 8px;
    border: 1px solid #F1F1F3;
    padding: 18px 24px;
    font-weight: 500;
    font-size: 18px;
    color: #262626;
    background-color: #F7F7F8;
    cursor: pointer;
}