
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#head{
    color: #c084fc;
}

.header {
    margin: 0;
    padding: 3rem;
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem 2rem 2rem 2rem;
    border-bottom: 2rem none transparent;
}

.container{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2rem 2rem 2rem 2rem;
    padding: 3rem;
    width: 103rem;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1rem solid transparent;
}

.container h1{
    font-size: 4rem;
    font-weight: bold;
    color: #1e293b;
}
#h2{
    font-size: 4rem;
    font-weight: bold;
    color: #c084fc;
    padding: 1rem;
}

#info{
    margin: 2rem;
    font-size: 1.25rem;
}

.container:first-child button{
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
    color: white;
    border: none;
    background-color: #a855f7;
    padding: 1rem;
    border-radius: 2rem 2rem 2rem 2rem;
    margin: 2rem;
}
.container:first-child button:hover{
    background-color: #9333ea;
}

.img{
    width: 4rem;
    height: 4rem;
    background-image: url('https://files.fullstack.edu.vn/f8-prod/public-images/67c022029788c.png');
    border-radius: 10rem 10rem 10rem 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border: 0.75rem solid rgba(192, 132, 252, 0.6);
}
#color{
    color: #c084fc;
    font-weight: bold;
}
.header .container p:nth-of-type(2){
    font-size: 1.25rem;
    padding: 2rem;
    margin: 1rem;
}

#check:checked ~ .advice {
    background-color: rgba(192, 132, 252, 0.35);
    color: #6b21a8;
}

.advice{
    margin: 2rem auto;
    border-radius: 2rem 2rem 2rem 2rem;
    /*width: 100rem;*/
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.4);
}

.advice p:first-of-type{
    font-weight: bold;
    border-bottom: 0.1rem solid transparent;
    font-size: 1.5rem;
}
.advice p:last-of-type{
    margin: 0 auto;
    text-align: center;
    width: 90rem;
}


.container ol{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 3rem;
    gap: 4rem;

}

.icon img{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Sign-check-icon.png/960px-Sign-check-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;
}
.icon span{
    font-size: 1.75rem;
    border-right: 2rem solid transparent;
}

footer{
    text-align: center;
    border-top: 0.1rem solid #c084fc;
    background-color: rgba(255, 255, 255, 0.35);
    margin-top: 2rem;
    padding: 2rem;
}
label.form {
    display: block;
}
.form{
    width: 35rem;
    display: none;
    /*margin: 0 auto;*/
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    bottom: 35rem;
    left: 35rem;
    z-index: 999;
    position: relative;
    border-radius: 2rem 2rem 2rem 2rem;
    background-color: rgba(255, 255, 255);
}
.form img{
    width: 1.5rem;
    height: 1.5rem;
}
.form div:last-of-type p{
    display: inline-block;
    padding: 2rem;
    margin: 0 auto;
}
.form div:last-of-type> p:hover {
    text-decoration: underline;
}
.form strong{
    font-size: 2.1rem;
}
#x{
    position: absolute;
    top: 0.1rem;
    right: 1.5rem;
    font-size: 2rem;
}
.form > p:first-of-type{
    padding: 1rem;
    line-height: 3rem;
}
.form > div:first-of-type{
    text-align: left;
    padding-left: 3.5rem;
}
#c{
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
    width: calc(100% - 3.6rem);

}
.overlay{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 998;
    cursor: pointer;
}

.Modal-Trigger{
    position: relative;
    display: block;
    margin: 3rem auto;
}
.Modal-Trigger > label:first-of-type{
    border-radius: 2rem 2rem 2rem 2rem;
    margin: 3rem 0.4rem;
    padding: 0 2rem;
    background-color: #a855f7;
    border: 1rem solid #a855f7;
    color: white;
}
.Modal-Trigger > label:last-of-type{
    border-radius: 2rem 2rem 2rem 2rem;
    margin: 3rem;
    padding: 0 2rem;
    background-color: #f05123;
    border: 1rem solid #f05123;
    color: white;
}

.Modal-Trigger > label:first-of-type:hover{
    background-color: #9333ea;
    border-color: #9333ea;
}
.Modal-Trigger > label:last-of-type:hover{
    background-color: #d8431c;
    border-color: #d8431c;
}
.form div:last-of-type span:first-of-type:hover{
    text-decoration: underline;
}
.form div:last-of-type span:last-of-type:hover{
    text-decoration: underline;
}
#modal:checked ~ .overlay{
    display: block;
}
#modal:checked ~ .form{
    display: block;
}
#modal:checked ~ #x{
    display: block;
}

.signup{
    background-color: rgba(255, 255, 255);
    width: 30rem;
    margin: 0 auto;
    display: none;
    z-index: 999;
    position: fixed;
    top: 18rem;
    right: 50rem;
    border-radius: 2rem 2rem 2rem 2rem;
}
.dangky{
    display: block;
    position: relative;
}
.dangky > p > strong{
    display: inline-block;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
}

#xa{
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;

}

.form-group{
    text-align: left;
    padding-left: 5rem;
    display: block;
    position: relative;
}
.input-group{
    position: relative;
}
.input-group > span{
    color: #ef4444;
    margin-left: 0.25rem;
}

.input-group > input{
    width: calc(100% - 4rem);
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.input-group > .tooltip > .triangle{
    border-top:0.5rem solid #2c2c2c;
    width: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    position: absolute;
    top: 3.3rem;
    left: 1rem;
}

.tooltip{
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: none;
    position: absolute;
    bottom: 5rem;
    z-index: 950;
}
.tooltip > span{
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 0.1rem solid transparent;
    padding: 0.3rem;
    text-align: center;
    background-color: #323232;
    color: white;
    display: inline-block;
}

.input-group input:hover + .tooltip{
    display: block;
}

.checkbox-group input[type="checkbox"]:hover + .tooltip{
    display: block;
}

.form-group{
    font-size: 1.4rem;
    padding: 0;
    position: relative;
    line-height: 2.5rem;
    margin-left: 2rem;
}
.checkbox-group{
    position: relative;
}

.checkbox-group .tooltip{
    position: absolute;
    bottom: 2.5rem;
}
.checkbox-group .tooltip .triangle{
    position: relative;
    top: 0.001rem;
}

form > span{
    font-size: 1.4rem;
    position: relative;
    right: 7.5rem;
}

#register-now{
    border-radius: 2rem;
    background: #f05123;
    color: white;
    width: calc(100% - 5rem);
    padding: 0.8rem;
    font-size: 1.4rem;
}
#register-now:hover{
    background: #d8431c;
}

.bg{
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 920;
}

#click:checked ~ #xa,
#click:checked ~ .bg,
#click:checked ~ .signup{
    display: block;
}

#click{
    font-weight: bold;
    font-size: 5rem;
}

#modal{
    font-weight: bold;
    font-size: 5rem;
}

.fqa{
    position: relative;
    margin: 2rem auto;

}

.fqa > p:first-of-type{
    font-size: 3rem;
    padding: 2rem;

}

.content{
    position: relative;
   background: #f4f1f1;
    padding: 1.2rem;
    border-radius: 1rem;
    text-align: left;
    font-size: 1.5rem;
    width: calc(100% - 40rem);
    margin: 0 auto;
    display: block;

}

.plus{
    text-align: right;
    font-size: 2rem;
    color: #953bf4;
}

.bag .content span:first-of-type{
    width: calc(100% - 5rem);
    display: inline-block;
}
.bag{
    position: relative;
    margin: 2rem auto;
}

.answer{
    position: relative;
    background: #f4f1f1;
    border-radius: 0 0 1rem 1rem;
    margin: -0.67rem 1rem 1rem 1rem;
    padding: 1.5rem 1rem 1rem 1rem;
    width: 63.4rem;
    display: none;
    left: 17.8rem;
}

.minus{
    position: absolute;
    top: 1.3rem;
    right: 4.5rem;
    font-size: 1rem;
    display: none;
    font-weight: bold;
}

.content:hover {
    background: rgba(192, 132, 252, 0.15) ;
}


input[type="checkbox"]:checked + .content .plus {
    display: none;
}
input[type="checkbox"]:checked + .content .minus {
    display: inline;
}
input[type="checkbox"]:checked ~ .answer {
    display: block;
}
input[type="checkbox"]:checked ~ .content {
    background: rgba(192, 132, 252, 0.15) ;
}

/*----------------Menu điều hướng--------------------------*/

.header-Menu{
    position: fixed;
    top: 2rem;
    left: 16rem;
    background: white;
    width: 70%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 1.5rem;
    border-radius: 10rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    z-index: 1000;
}

/* LOGO */
.header-Menu img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
}

/* MENU */
.Navigation-Menu nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    position: relative;

}

.Navigation-Menu > nav > ul > li{
    list-style: none;

}

.Navigation-Menu nav ul li a{
    text-decoration: none;
    color: #334155;
    font-size: 1rem;
    padding: 1rem 2rem;
    font-weight: bold;

}

.Navigation-Menu nav > ul > li{
    display: flex;
    justify-content: flex-end;
    border-radius: 1rem;
}

/*============Tam Giac========*/
.Navigation-Menu nav > ul >li:nth-of-type(2)::after,
.Navigation-Menu nav > ul >li:nth-of-type(3)::after,
.Navigation-Menu nav > ul >li:nth-of-type(4)::after{
    width: 0;
    border-top: 0.2rem solid #000000;
    border-left: 0.2rem solid transparent;
    border-right: 0.2rem solid transparent;
    content: "";
    position: absolute;
    top: 1.4rem;
    right: 1rem;
}
.Navigation-Menu nav > ul >li:nth-of-type(2):hover::after
{
  border-top-color: #a855f7;
}
.Navigation-Menu nav > ul >li:nth-of-type(3):hover::after{
    border-top-color: #a855f7;
}
.Navigation-Menu nav > ul >li:nth-of-type(4):hover::after{
    border-top-color: #a855f7;
}

/*=============khoa Hoc========================*/
/*    ===========js==================*/
.Navigation-Menu nav > ul >li:nth-of-type(2) > ul> li:nth-of-type(2)::after,
.Navigation-Menu nav > ul >li:nth-of-type(2) > ul> li:nth-of-type(2) > ul > li:nth-of-type(3)::after,
.Navigation-Menu nav > ul >li:nth-of-type(2) > ul> li:nth-of-type(2) > ul > li:nth-of-type(3) >ul > li:nth-of-type(3)::after,
.Navigation-Menu nav > ul >li:nth-of-type(2) > ul> li:nth-of-type(2) > ul > li:nth-of-type(3) >ul > li:nth-of-type(3) > ul > li:nth-of-type(3)::after,


      /*=============react=======================*/
.Navigation-Menu nav > ul >li:nth-of-type(2) > ul> li:nth-of-type(3)::after,
.Navigation-Menu nav > ul >li:nth-of-type(2) > ul> li:nth-of-type(3) > ul > li:first-of-type::after,
.Navigation-Menu nav > ul >li:nth-of-type(2) > ul> li:nth-of-type(3) > ul > li:first-of-type > ul > li:first-of-type::after,
.Navigation-Menu nav > ul >li:nth-of-type(2) > ul> li:nth-of-type(3) > ul > li:first-of-type > ul > li:first-of-type > ul > li:first-of-type::after,

/*=====================lo trinh============================*/

/*==============================font-end===================*/
.Navigation-Menu nav > ul >li:nth-of-type(3) > ul> li:first-of-type::after,
.Navigation-Menu nav > ul >li:nth-of-type(3) > ul> li:first-of-type > ul >li:first-of-type::after,
.Navigation-Menu nav > ul >li:nth-of-type(3) > ul> li:first-of-type > ul >li:first-of-type > ul >li:first-of-type::after,
.Navigation-Menu nav > ul >li:nth-of-type(3) > ul> li:first-of-type > ul >li:first-of-type > ul >li:first-of-type > ul >li:first-of-type::after,
   /*=========back-end================= */
.Navigation-Menu nav > ul >li:nth-of-type(3) > ul> li:nth-of-type(2)::after,
.Navigation-Menu nav > ul >li:nth-of-type(3) > ul> li:nth-of-type(2) > ul > li:first-of-type::after,
.Navigation-Menu nav > ul >li:nth-of-type(3) > ul> li:nth-of-type(2) > ul > li:first-of-type > ul > li:first-of-type::after,
.Navigation-Menu nav > ul >li:nth-of-type(3) > ul> li:nth-of-type(2) > ul > li:first-of-type > ul > li:first-of-type > ul > li:first-of-type::after

{
    width: 0;
    border-top: 0.2rem solid transparent;
    border-left: 0.2rem solid #000000;
    border-bottom: 0.2rem solid transparent;
    content: "";
    position: absolute;
    top: 1.1rem;
    right: 1rem;

}

/*=============khoa Hoc========================*/
/*    ===========js==================*/
.Navigation-Menu nav > ul >li:nth-of-type(2) > ul> li:nth-of-type(2):hover::after,
.Navigation-Menu nav > ul >li:nth-of-type(2) > ul> li:nth-of-type(2) > ul > li:nth-of-type(3):hover::after,
.Navigation-Menu nav > ul >li:nth-of-type(2) > ul> li:nth-of-type(2) > ul > li:nth-of-type(3) >ul > li:nth-of-type(3):hover::after,
.Navigation-Menu nav > ul >li:nth-of-type(2) > ul> li:nth-of-type(2) > ul > li:nth-of-type(3) >ul > li:nth-of-type(3) > ul > li:nth-of-type(3):hover::after,


    /*=============react=======================*/
.Navigation-Menu nav > ul >li:nth-of-type(2) > ul> li:nth-of-type(3):hover::after,
.Navigation-Menu nav > ul >li:nth-of-type(2) > ul> li:nth-of-type(3) > ul > li:first-of-type:hover::after,
.Navigation-Menu nav > ul >li:nth-of-type(2) > ul> li:nth-of-type(3) > ul > li:first-of-type > ul > li:first-of-type:hover::after,
.Navigation-Menu nav > ul >li:nth-of-type(2) > ul> li:nth-of-type(3) > ul > li:first-of-type > ul > li:first-of-type > ul > li:first-of-type:hover::after,

    /*=====================lo trinh============================*/

    /*==============================font-end===================*/
.Navigation-Menu nav > ul >li:nth-of-type(3) > ul> li:first-of-type:hover::after,
.Navigation-Menu nav > ul >li:nth-of-type(3) > ul> li:first-of-type > ul >li:first-of-type:hover::after,
.Navigation-Menu nav > ul >li:nth-of-type(3) > ul> li:first-of-type > ul >li:first-of-type > ul >li:first-of-type:hover::after,
.Navigation-Menu nav > ul >li:nth-of-type(3) > ul> li:first-of-type > ul >li:first-of-type > ul >li:first-of-type > ul >li:first-of-type:hover::after,
    /*=========back-end================= */
.Navigation-Menu nav > ul >li:nth-of-type(3) > ul> li:nth-of-type(2):hover::after,
.Navigation-Menu nav > ul >li:nth-of-type(3) > ul> li:nth-of-type(2) > ul > li:first-of-type:hover::after,
.Navigation-Menu nav > ul >li:nth-of-type(3) > ul> li:nth-of-type(2) > ul > li:first-of-type > ul > li:first-of-type:hover::after,
.Navigation-Menu nav > ul >li:nth-of-type(3) > ul> li:nth-of-type(2) > ul > li:first-of-type > ul > li:first-of-type > ul > li:first-of-type:hover::after{
    border-left-color: #a855f7;
}
/* BUTTON */
.Login-Register{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.Login-Register > label{
    border: 0.001rem solid #3a3b3c;
    border-radius: 2rem;
    padding: 0.7rem 2rem;
    color: #334155;
    display: flex;
    font-weight: bold;
}
.Login-Register > label > a{
    text-decoration: none;
    color: #333333;
}
.Login-Register > label:hover{
    background: #a855f7;
    color: white;
}
.Navigation-Menu nav > ul > li:hover > a{
    color: #a855f7;
}
.Navigation-Menu nav > ul > li:hover{
    background: rgba(168, 85, 247, 0.1);
    border-radius: 5rem;
}

/*=========menu cap 2======*/
.Navigation-Menu nav > ul > li {
    position: relative;
}


.Navigation-Menu nav > ul > li > ul {
    display: none;
    position: absolute;
    top:  100%;
    left: -4.3rem;
    width: 16rem;

    background: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}


.Navigation-Menu nav > ul > li > ul > li {
    padding: 0.7rem 1rem;
    display: block;
}
.Navigation-Menu nav > ul > li:hover > ul {
    display: block;
}

.Navigation-Menu nav > ul > li > ul > li:hover {
    background: rgba(168, 85, 247, 0.1);
    border-radius: 0.7rem;
}

.Navigation-Menu nav > ul > li > ul > li:hover > a {
    color: #a855f7;
}




/*=========================menu cap 3=========*/
.Navigation-Menu nav > ul > li > ul > li{
    position: relative;
}
.Navigation-Menu nav > ul > li > ul > li > ul{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 16rem;

    background: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.Navigation-Menu nav > ul > li > ul > li > ul > li{
    padding: 0.7rem 1rem;
    display: block;
}

.Navigation-Menu nav > ul > li > ul > li:hover > ul{
    display: block;
}
.Navigation-Menu nav > ul > li > ul > li > ul > li:hover{
    background: rgba(168, 85, 247, 0.1);
    border-radius: 0.7rem;
}
.Navigation-Menu nav > ul > li > ul > li > ul > li:hover > a{
    color: #a855f7;
}

/*===============menu cap 4============*/
.Navigation-Menu nav > ul > li > ul > li > ul > li{
    position: relative;
}
.Navigation-Menu nav > ul > li > ul > li > ul > li >ul{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 16rem;

    background: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.Navigation-Menu nav > ul > li > ul > li > ul > li >ul > li {
    padding: 0.7rem 1rem;
    display: block;
}

.Navigation-Menu nav > ul > li > ul > li > ul > li > ul >li:hover{
    background: rgba(168, 85, 247, 0.1);
    border-radius: 0.7rem;
}
.Navigation-Menu nav > ul > li > ul > li > ul > li > ul > li:hover > a{
    color: #a855f7;
}
.Navigation-Menu nav > ul > li > ul > li > ul > li:hover > ul > li:hover > ul{
    display: block;
}

.Navigation-Menu nav > ul > li > ul > li > ul > li:hover > ul{
    display: block;
}

/*=================menu cap 5================*/


.Navigation-Menu nav > ul > li > ul > li > ul > li > ul > li {
    position: relative;
}


.Navigation-Menu nav > ul > li > ul > li > ul > li > ul > li > ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 16rem;

    background: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.Navigation-Menu nav > ul > li > ul > li > ul > li > ul > li > ul > li {
    padding: 0.7rem 1rem;
    display: block;
}


.Navigation-Menu nav > ul > li > ul > li > ul > li > ul > li:hover > ul {
    display: block;
}


.Navigation-Menu nav > ul > li > ul > li > ul > li > ul > li > ul > li:hover {
    background: rgba(168, 85, 247, 0.1);
    border-radius: 0.7rem;
}

.Navigation-Menu nav > ul > li > ul > li > ul > li > ul > li > ul > li:hover > a {
    color: #a855f7;
}
/*=============menu cap 6=============*/
.Navigation-Menu nav > ul > li > ul > li > ul > li > ul > li > ul >li{
    position: relative;
}
.Navigation-Menu nav > ul > li > ul > li > ul > li > ul > li > ul > li > ul{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 16rem;
    background: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.Navigation-Menu nav > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li{
    padding: 0.7rem 1rem;
    display: block;
}

.Navigation-Menu nav > ul > li > ul > li > ul > li > ul > li > ul > li:hover > ul{
    display: block;
}
.Navigation-Menu nav > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li:hover{
    background: rgba(168, 85, 247, 0.1);
    border-radius: 0.7rem;
}
.Navigation-Menu nav > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li:hover > a{
    color: #a855f7;
}




