.Benefits{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    max-width: 1597px;
    padding-top: 100px;
    margin: 0 auto;

}
.Benefits-container-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.Benefits-content{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    max-width: 1177px;
    height: 132px;
}
.Benefist-container-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
}

.Benefits-content h2{
    width: 1177px;
    height: 72px;
    opacity: 1;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
}

.Benefits-content p{
    width: 1177px;
    height: 54px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;


}

.View-All {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    align-items: center;
}
.Benefits-List-One{
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    margin: 50px 0 20px 0;

}

.Benefits-List{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    max-width: 519px;
    height: 450px;
    border-radius: 12px;
    background: white;


}

.Benefits-List > p{
    width: 419px;
    height: 59px;
    font-weight: 700;
    font-size: 80px;
    line-height: 24px;
    text-align: right;
}

.benefits-List-title{
    width: 419px;
    height: 131px;
    gap: 14px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.benefits-List-title > p:first-of-type{
    width: 419px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
}

.benefits-List-title > p:last-of-type{
    width: 419px;
    height: 81px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

.Benefits-button {
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.Benefits-List-Two{
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
}